:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Dark-Grayish-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    --White: hsl(0, 0%, 100%);
    
    --font-family: 'Red Hat Display', sans-serif;
    --font-family2: 'Bellefair', serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--White);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    flex-direction: row;
}
.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-container hr {
width: 500px;
  position: relative;
  left: 50px;
  z-index: 1;
  color: var(--Light-Grayish-Blue);
}
nav {
  background: rgba(106, 101, 159, 0.2);
  backdrop-filter: blur(10px);
  padding: 15px 60px;  
}
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-direction: row;
    align-items: center;
}
nav ul li a {
    text-decoration: none;
    color: var(--White);
    font-weight: 500;
    font-size: 0.9rem;
}
nav ul li a.active {
    padding-bottom: 15px;
    border-bottom: 3px solid var(--White);
}
@media (max-width: 767px) {
  .logo-container hr {
    display: none;
 }
    nav {
        display: none;
        width: 70vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    }
    .menu-toggle {
        display: block;
    }
    nav ul {
        
        flex-direction: column;
        align-items: flex-start;
        margin-top: 100px;
        gap: 3rem;
    }
    .close-icon {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }
    nav ul li a.active {
        padding-bottom: 0;
    border-right: 3px solid var(--White);
width: 190px;
display: block;
border-bottom: none;
}

}


@media (min-width: 768px) and (max-width: 1023px) {
 .logo-container hr {
    display: none;
 }
}
